.logo{
    max-width: 70px;
    max-height: 70px;
    margin-left: 100px;
}
.ima {
    height: 280px;
    width: 600px;
    margin-right: auto;
    margin-left: 0px;
    padding: 50px;
    margin: 20px;
}

.h1{
    font-size: 45px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     

}

.header{
    display: flex;
    background-color:#1F2937;
    flex-wrap: wrap;
}

.links{
    display: flex;
    gap: 80px;
    margin-left: 550px;
    
    
}

.uno{
    display: flex;
     margin: 20px;
     align-items: flex-start;
     flex-direction: row;
     
}
.nr{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 20px;
}

.p{
    margin-top: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

a{
    text-decoration: none;
    color: white
}

button {
    width: 80px;
    margin-left: 180px;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3882F6;
    border: 0px;
    border-radius: 3px;
}

h2 {
    text-align: center;
}

.excelsa,
.arabica,
.liberica,
.robusta {
    height: 150px;
    width: 150px;
    padding: 20px;
}


body{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.info{
    display: flex;
    gap: 20px;
    
}
.a,
.b,
.c,
.d{
    margin: 20px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
}
.qu{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 80px;
    
}
.nir{
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.sr{
    margin-left: 780px;
    margin-top: 25px;
    font-weight: bold;
}

.time{
   background-color: #3882F6;
    display: flex;
    padding: 18px;
    margin: 50px;
}

.con{
    text-align: left;
    margin-left: 70px;
    color: white;
    
}
.sing{
    border-collapse: separate;
    border: 1px solid white;
    color: white;
    background-color: #3882F6;
    padding: 16px;
    border-radius: 3px;
    margin-left: 250px;
    width: 150px;
}
footer{
    text-align: center;
    color: white;
    background-color: #1F2937;
    padding: 25px;
}